body,
p,
a,
ul,
li {
  text-decoration: none;
}

li {
  list-style-type: none;
}

html,
body {
  overflow-x: hidden;
}
// body {
//   overflow-x: hidden;
// }
body {
  position: relative;
  height: 100vh;
}
